<header th:substituteby="layout/partials/header" />
<div>
    <div style="display: none;" th:fragment="title" th:inline="text">Order Failure [[${orderNumber}]] </div>

    <div id="order_confirmation">
        <h2><span text="Order Failure">Order Failure!</span></h2>
        <h3><span text="Order Number">Order Failure #</span> - <span th:text="${orderNumber}"/></h3>
        <p class="confirmation-note">
        Payment failure. Please try again - <span th:text="${exceptionMessage}"/> </p>
    </div>
        
</div>