
<div id="addNew">
	<blc:form method="POST" th:action="@{/saveDispute}">
		<h3>Raise Dispute</h3>
		<input type="hidden" id="encOrderItemId" th:value="${EncOrderItemId}" />
		<div class="" id="serviceproviderdropdown">
				<label for="serviceProviderDropDown"><span>Service provider</span></label>
				<select id="serviceProviderDropDown" name="serviceProviderId" >
					<option th:each="var : ${ServiceProveiders}" th:value="${var.id}"
						th:text="${var.firstName}"></option>
				</select>
		</div>
		<BR/>
		<div class="">
			<label for="name"><span>Dispute Comment</span></label> <textarea
				 class="field50" name="disputeComment" />
		</div>
		<div class="">
			<input type="submit" class="addToCart" value="Save Dispute" />
		</div>
	</blc:form>
</div>

