
<div id="addNew">
	<blc:form method="POST" th:action="@{/saveDispute}">
		<div class="form50">
			<label for="name"><span>Dispute Comment</span></label> <input
				type="text" class="field50" name="disputeComment" />
		</div>
		<div class="form50" id="serviceproviderdropdown">
													<select id="serviceProviderDropDown" name="serviceProviderId">
														<option th:each="var : ${ServiceProveiders}" th:value="${var.id}"
															th:text="${var.firstname}"></option>
													</select>
				</div>
		<div class="form100">
			<input type="submit" class="addToCart" th:value="#{product.buyNow}" />
		</div>
	</blc:form>
</div>

