<blc:form th:object="${billingInfoForm}" action="https://secure.ebs.in/pg/ma/sale/pay" method="post" id="billing_info" th:if="${validOrderInfo and validShipping}">

    <div id="billing_info_form" class="right_content_billing">

        <input type="hidden" id="address.country" name="country" value="IN" />

        <div class="form100" th:unless="${cart.fulfillmentGroups != null and #lists.size(cart.fulfillmentGroups) > 1}">
            <input id="use_shipping_address" type="checkbox" th:field="*{useShippingAddress}" th:disabled="${!validShipping}" />
             <span th:text="#{cart.useShppingInfo}">Use Shipping Information</span>
        </div>

        <div class="form30">
            <label for="firstName"><span th:text="#{cart.firstName}">First Name</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.firstName')}" th:errors="*{address.firstName}"></span>
            <input type="text" id="billingFirstName" name="address.firstName"  th:value="*{address.firstName}" class="field30 required clearable let" th:classappend="${#fields.hasErrors('address.firstName')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div class="form30 margin20">
            <label for="lastName"><span th:text="#{cart.lastName}">Last Name</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.lastName')}" th:errors="*{address.lastName}"></span>
            <input type="text" id="billingLastName" name="billingLastName"  th:field="*{address.lastName}" class="field30 required clearable let" th:classappend="${#fields.hasErrors('address.lastName')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div class="form30 margin20">
            <label for="phone"><span th:text="#{cart.phone}">Phone</span></label>
            <span class="error_spacer" th:if="${#fields.hasErrors('address.firstName') or #fields.hasErrors('address.lastName')}">error</span>
           <input type="tel" id="billingPhone" name="address.phonePrimary" th:if="*{address.phonePrimary!=null}" th:value="*{address.phonePrimary.phoneNumber}" class="field30 clearable primaryphone pp" maxlength="12"/>
           <span class="phnoevalerror" style="color: #E40037;"></span>
        </div>

        <div class="clearfix"></div>

        <div class="form50">
            <label for="address1"><span th:text="#{cart.address}">Address</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.addressLine1')}" th:errors="*{address.addressLine1}"></span>
            <input type="text" id="billingAddress" name="address.addressLine1" th:value="*{address.addressLine1}" class="field100 required clearable letnos" th:classappend="${#fields.hasErrors('address.addressLine1')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div class="clearfix"></div>

        <div class="form30">
            <label for="city"><span th:text="#{cart.cityState}">City / State</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
            <br th:if="${#fields.hasErrors('address.city')} and ${#fields.hasErrors('address.state')}"/>
            <span class="error" th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
            <input type="text" id="billingCity" name="address.city" th:value="*{address.city}" class="field25 required clearable let" th:classappend="${#fields.hasErrors('address.city')}? 'fieldError'" th:disabled="${!validShipping}" />

            <select id="billingState" name="address.state" th:value="*{address.state}" size="1" style="width: 48px;" class="required clearable" th:classappend="${#fields.hasErrors('address.state')}? 'fieldError'" th:disabled="${!validShipping}">
               <option value="">--</option>
                    <option value="TN" text="TN">TN</option>
                    <!-- <option th:each="state : ${states}" th:value="${state.abbreviation}" th:text="${state.abbreviation}"></option> -->
            </select>
        </div>

        <div class="form25 margin20">
            <label for="postal_code"><span th:text="#{cart.postalCode}">Postal Code</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
            <input type="text" id="billingPostalCode" name="address.postalCode"  th:value="*{address.postalCode}" class="field25 clearable primaryphone" th:classappend="${#fields.hasErrors('address.postalCode')}? 'fieldError'" th:disabled="${!validShipping}" maxlength="7"/>
        </div>

        <div style="float:right;">
        <input name="account_id" type="hidden" size="60" th:value="*{accountId}"/>
<input id="name" name="name" type="hidden" size="60" value=""/>
      <input id="phone" name="phone" type="hidden" size="60" value=""/>
        <input id="address" name="address" type="hidden" size="60" value=""/>
        <input id="city" name="city" type="hidden" size="60" value=""/>
        <input id="state" name="state" type="hidden" size="60" value="TN"/>
        <input id="postal_code" name="postal_code" type="hidden" size="60" value=""/>
        <input name="mode" type="hidden" size="60" value="TEST"/>
          <input name="reference_no" type="hidden" th:value="*{referenceNo}"/>
           <input name="return_url" type="hidden" size="60" th:value="*{returnURL}"/>
             <input name="amount" type="hidden" th:value="*{amount}"/>
  			<input name="description" type="hidden" value="test"/> 
   	  <input name="email" type="hidden" size="60" value="test@abc.com"/>
   <input name="secure_hash" type="hidden" size="60" th:value="*{secureHash}"/>
            <input type="submit" class="medium d" th:value="#{cart.completOrder}" disabled="disabled" th:disabled="${!validShipping}" th:classappend="${validShipping}? 'red' : 'gray'" style="background: none no-repeat scroll 40% 50% rgb(228, 0, 55); float: none; margin-bottom: 0px; text-indent: 0px; white-space: nowrap; font-size: 120%; height: 50px; width: 155px;"/>
        </div>

    </div>
</blc:form>