<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<blc:head pageTitle="${category.name + ' - Enclothe'}" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />

	<div id="content" class="width_setter group" role="main">

		<nav th:substituteby="layout/partials/breadcrumb" />
		
		<div id="dialog-box">
				<div class="dialog-content">
					<div id="dialog-message">Click me! if you want to proceed Next Step.</div>
					<a href="#" class="button">Ok</a>
				</div>
			</div>
			
			<div id="dialog-box1">
				<div class="dialog-content">
					<div id="dialog-message">Re-Selecting a material would remove all the designs selected.
											Do you really want to re-choose?</div>
					<a href="#" id="yes" class="button">Yes</a>
					<a href="#" id="no" class="button">No</a>
				</div>
			</div>
		
		<div th:substituteby="catalog/partials/encFnDesign" />
		</div>
	<footer th:substituteby="layout/partials/footer" />

</body>
</html>
