<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<blc:head pageTitle="${category.name + ' - Enclothe'}" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />

	<div id="content" class="width_setter group" role="main">

		<!-- <nav th:substituteby="layout/partials/nav" /> -->
		<div class="checkout-wrap">
		  <ul class="checkout-bar">
		    <li class="bar visited">Choose Material</li>
		
		    <li class="bar active">Choose FrontNeck</li>
		
		    <li class="bar">Choose BackNeck</li>
		
		    <li class="bar">Choose Sleeve</li>
		
		    <li class="bar">Choose Tailors</li>
		    
			<li class="bar">Choose Measurement</li>
			
		  </ul>
		</div>

		<div id="tab-container" class="tab-container">
			<ul class='etabs'>
				<li class='tab'><a href="#tabs1">Front Neck Designs</a></li>
				<li class='tab'><a href="#tabs2">Back Neck Designs</a></li>
				<li class='tab'><a href="#tabs3">Sleeve Designs</a></li>
				<li class='tab'><a href="#tabs4">Tailors</a></li>
				<li class='tab'><a href="#tabs5">Measurement</a></li>
			</ul>
			<div class="panel-container">
				<div id="tabs1" class="ui-tabs-panel">
					<div th:substituteby="catalog/partials/encFnDesign" />
					<!-- <h2>tabs1 content</h2> -->
				</div>
				<div id="tabs2" class="ui-tabs-panel">
					<div th:substituteby="catalog/partials/encBnDesign" />
					<!-- <h2>tabs2 content</h2> -->
				</div>
				<div id="tabs3" class="ui-tabs-panel">
					<div th:substituteby="catalog/partials/encSlDesign" />
					<!-- <h2>tabs3 content</h2> -->
				</div>
				<div id="tabs4" class="ui-tabs-panel">
					<div th:substituteby="catalog/partials/encTlDesign" />
					<!-- <h2>tabs4 content</h2> -->
				</div>
				<div id="tabs5" class="ui-tabs-panel">
					<div th:substituteby="catalog/partials/encMeasurement" />
					<!-- <h2>tabs5 content</h2> -->
				</div>
			</div>
		</div>
	</div>
	<footer th:substituteby="layout/partials/footer" />

</body>
</html>
