<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<blc:head pageTitle="${category.name + ' - Enclothe'}" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />

	<div id="content" class="width_setter group" role="main">

		<!--<div class="checkout-wrap">
		   <ul class="checkout-bar">
		    <li class="bar visited">Choose Material</li>
		
		    <li class="bar active"><a href="/bls-design/bls-fn-design">Choose FrontNeck</a></li>
		
		    <li class="bar"><a href="/bls-design/bls-bn-design">Choose BackNeck</a></li>
		
		    <li class="bar">Choose Sleeve</li>
		
		    <li class="bar">Choose Tailors</li>
		    
			<li class="bar">Choose Measurement</li>
			
		  </ul>
		</div>  -->
		
		<div class="progress">
			<div class="circle done">
				<span class="label">1</span> <a class="title" href="/bls-material">Choose_Material</a>
			</div>
			<span class="bar half"></span>
			<div class="circle active">
				<span class="label">2</span> <a class="title">Choose_FrontNeck</a>
			</div>
			<span class="bar"></span>
			<div class="circle">
				<span class="label">3</span> <a class="title" href="/bls-design/bls-bn-design">Choose_BackNeck</a>
			</div>
			<span class="bar"></span>
			<div class="circle">
				<span class="label">4</span> <a class="title">Choose_Sleeve</a>
			</div>
			<span class="bar"></span>
			<div class="circle">
				<span class="label">5</span> <a class="title">Choose_Tailors</a>
			</div>
			<span class="bar"></span>
			<div class="circle">
				<span class="label">6</span> <a class="title">Choose_Measurement</a>
			</div>
		</div>

		<div th:substituteby="catalog/partials/encFnDesign" />
		</div>
	<footer th:substituteby="layout/partials/footer" />

</body>
</html>