<div class="manage-account-form-wrapper mymeasurement-form-wrapper">
	<p class="success" th:if="${successMessage}"
		th:text="${successMessage}"></p>
	<h2>Measurement Book</h2>
	<p th:if="${#lists.isEmpty(customerMeasurements)}"
		style="margin: 20px 10px;">You have not yet added any Measurements
		to your account. Start by adding one below.</p>
	<div style="margin: 20px 10px;"
		th:unless="${#lists.isEmpty(customerMeasurements)}">
		Options: <select
			onchange="location.href=this.options[selectedIndex].value">
			<option>Choose a measurement to update...</option>
			<option th:each="customerMeasurement : ${customerMeasurements}"
				th:value="@{'/account/measurements/' + *{customerMeasurement.id}}">
				<span th:text="*{customerMeasurement.name}"></span>
			</option>
		</select> <span th:if="${customerMeasurementForm.customerMeasurementId}">&nbsp;&nbsp;-
			or -&nbsp;&nbsp;<a th:href="@{/account/measurements}"
			class="medium red">create a new measurement</a>
		</span> <span th:unless="${customerMeasurementForm.customerMeasurementId}">&nbsp;&nbsp;-
			or -&nbsp;&nbsp;create a new measurement below</span>
	</div>
	<div class="" id="sizeMeasurementDiv" style="margin: 20px 35px;">
		<input type="radio" id="small" name="measurementOptions"
			value="smalloption" checked="checked" /> <label for="small">S</label>
		<input type="radio" id="medium" name="measurementOptions"
			value="mediumoption" /> <label for="medium">M</label> <input
			type="radio" id="large" name="measurementOptions" value="largeoption" />
		<label for="large">L</label> <input type="radio" id="xlarge"
			name="measurementOptions" value="xlargeoption" /> <label for="xlarge">XL</label>
	</div>
	<div class="" id="preferredMeasurement">
		<input type="checkbox" id="preferredMeasurement" name="" value="" style="margin: 15px 0px 0px 15px;"/>
		<span style="padding-left: 5px;">Preferred Measurement</span>
	</div>
	<blc:form class="manage-account" method="post"
		th:action="@{'/account/measurements/' + ${customerMeasurementForm.customerMeasurementId != null ? customerMeasurementForm.customerMeasurementId : ''}}"
		th:object="${customerMeasurementForm}">
		<div>
			<div class="form30 myform30">
				<label for="name">Measurement Name</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.name')}"
					th:errors="*{measurement.name}"></span> <input type="text"
					class="field30 myfield30 required" th:field="*{measurement.name}"
					th:classappend="${#fields.hasErrors('measurement.name')}? 'fieldError'" />
			</div>
			<div class="form100 myform100">
				<label for="desc">Measurement Description</label> <input type="text"
					th:field="*{measurement.description}" class="field50 myfield50" />
			</div>
			<div class="form30 myform30">
				<label for="height">Height</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.height')}"
					th:errors="*{measurement.height}"></span> <input type="text"
					class="field30 myfield30 cloneable"
					th:field="*{measurement.height}"
					th:classappend="${#fields.hasErrors('measurement.height')}? 'fieldError'"
					name="height" id="height" imgsrc="/img/measurements/chest.png"
					desc="This is Height Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="chest">Chest</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.chest')}"
					th:errors="*{measurement.chest}"></span> <input type="text"
					th:field="*{measurement.chest}" class="field30 myfield30 cloneable"
					th:classappend="${#fields.hasErrors('measurement.chest')}? 'fieldError'"
					name="chest" id="chest" imgsrc="/img/measurements/chest.png"
					desc="This is Chest Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="bust">Bust</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.bust')}"
					th:errors="*{measurement.bust}"></span> <input type="text"
					class="field30 myfield30 cloneable" th:field="*{measurement.bust}"
					th:classappend="${#fields.hasErrors('measurement.bust')}? 'fieldError'"
					name="bust" id="bust" imgsrc="/img/measurements/chest.png"
					desc="This is Bust Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="dartLine">Dartline</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.dartline')}"
					th:errors="*{measurement.dartline}"></span> <input type="text"
					th:field="*{measurement.dartline}"
					class="field30 myfield30 cloneable"
					th:classappend="${#fields.hasErrors('measurement.dartline')}? 'fieldError'"
					name="dartLine" id="dartLine" imgsrc="/img/measurements/chest.png"
					desc="This is Dart Line Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="waist">Waist</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.waist')}"
					th:errors="*{measurement.waist}"></span> <input type="text"
					class="field30 myfield30 cloneable" th:field="*{measurement.waist}"
					th:classappend="${#fields.hasErrors('measurement.waist')}? 'fieldError'"
					name="waist" id="waist" imgsrc="/img/measurements/waist.png"
					desc="This is waist Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="hip">Hip</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.hip')}"
					th:errors="*{measurement.hip}"></span> <input type="text"
					th:field="*{measurement.hip}" class="field30 myfield30 cloneable"
					th:classappend="${#fields.hasErrors('measurement.hip')}? 'fieldError'"
					name="hip" id="hip" imgsrc="/img/measurements/chest.png"
					desc="This is Hip Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="shoulder">Shoulder</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.shoulder')}"
					th:errors="*{measurement.shoulder}"></span> <input type="text"
					class="field30 myfield30 cloneable"
					th:field="*{measurement.shoulder}"
					th:classappend="${#fields.hasErrors('measurement.shoulder')}? 'fieldError'"
					name="shoulder" id="shoulder"
					imgsrc="/img/measurements/shoulder.png"
					desc="This is Shoulder Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="sleevelength">Sleeve Length</label> <span class="error"
					th:if="${#fields.hasErrors('measurement.sleeveLength')}"
					th:errors="*{measurement.sleeveLength}"></span> <input type="text"
					th:field="*{measurement.sleeveLength}"
					class="field30 myfield30 cloneable"
					th:classappend="${#fields.hasErrors('measurement.sleeveLength')}? 'fieldError'"
					name="sleeveLength" id="sleeveLength"
					imgsrc="/img/measurements/chest.png"
					desc="This is Sleeve Lenghth Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="nwaist"><span>NWaist </span></label> <input type="text"
					class="field30 myfield30" name="nwaist" id="nwaist"
					imgsrc="/img/measurements/chest.png"
					desc="This is Nwaist Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="armhole"><span>ARM_HOLE </span></label> <input
					type="text" class="field30 myfield30" name="armhole" id="armhole"
					imgsrc="/img/measurements/chest.png"
					desc="This is Arm Hole Measurement" />
			</div>

			<div class="form30 myform30">
				<label for="tsleeve"><span>T_SLEEVE </span></label> <input
					type="text" class="field30 myfield30" name="tsleeve" id="tsleeve"
					imgsrc="/img/measurements/chest.png"
					desc="This is T_Sleeve Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="bsleeve"><span>B_SLEEVE </span></label> <input
					type="text" class="field30 myfield30" name="bsleeve" id="bsleeve"
					imgsrc="/img/measurements/chest.png"
					desc="This is B_Sleeve Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="fneck"><span>F_NECK </span></label> <input type="text"
					class="field30 myfield30" name="fneck" id="fneck"
					imgsrc="/img/measurements/waist.png"
					desc="This is F_Neck Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="bneck"><span>B_NECK </span></label> <input type="text"
					class="field30 myfield30" name="bneck" id="bneck"
					imgsrc="/img/measurements/chest.png"
					desc="This is B_Neck Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="pantheight"><span>PANT_HEIGHT </span></label> <input
					type="text" class="field30 myfield30" name="pantheight"
					id="pantheight" imgsrc="/img/measurements/shoulder.png"
					desc="This is Pant Height Measurement" />
			</div>
			<div class="form30 myform30">
				<label for="seat"><span>SEAT </span></label> <input type="text"
					class="field30 myfield30" name="seat" id="seat"
					imgsrc="/img/measurements/chest.png"
					desc="This is Seat Measurement" />
			</div>
			<div class="clearfix"></div>
		</div>
		<div>
			<input type="submit"
				th:value="*{customerMeasurementId != null ? 'Update Measurement' : 'Create New Measurement'}"
				class="medium red" /> <input th:if="*{customerMeasurementId}"
				type="submit" name="removeMeasurement" value="Remove"
				class="small dark" /> <span class="error" th:if="${errorMessage}"
				th:text="${errorMessage}"></span>
		</div>
	</blc:form>
</div>
<div id="right_column">
	<header>
		<span>Explore Image</span>
	</header>
	<div id="options">
		<div class="section">
			<img id="dImg" src="/img/blank.gif"
				style="width: 100%; height: 100%; margin-bottom: 4px; display: block; margin-left: auto; margin-right: auto;" />
		</div>
		<div id="right_column">
			<header>
				<span>Description of option</span>
			</header>
			<div id="options">
				<div class="section">
					<p id="content" style="word-wrap: break-word; width: 220px"></p>
				</div>
			</div>
		</div>
	</div>
</div>