<table id="cart_products">
    <thead>
        <tr>
            <!-- <th colspan="2"><span th:text="#{cart.itemLabel}">Item/Design/Measurement</span></th> -->
            <th><span>Material</span></th>
            <th style="padding: 15px;"><span>FrontNeck Design</span></th>
            <th style="padding: 15px;"><span>BackNeck Design</span></th>
            <th style="padding: 15px;"><span>Sleeve Design</span></th>
            <th style="padding: 15px;"><span>Tailor</span></th>
            <th style="padding: 15px;"><span>Measurement</span></th>
            <th style="padding: 15px;"><span th:text="#{cart.quantity}">Quantity</span></th>
            <th style="padding: 15px;"> <span th:text="#{cart.price}">Price</span> <span class="small" th:text="#{cart.each}">(each)</span></th>
            <th style="padding: 15px;"> <span th:text="#{cart.totalSavings}">Total Savings</span></th>
            <th style="padding: 15px;"><span th:text="#{cart.total}">Total</span></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${cart.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
           <!--  <td><img th:if="*{product.media['primary']}" th:src="@{*{product.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{product.name}" />
                        <img th:if="*{design.media['primary']}" th:src="@{*{design.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{design.name}" />
             
            </td> -->
            <td class="name">
            <img th:if="*{product.media['primary']}" th:src="@{*{product.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{product.name}" style="width: 80px; height: 80px;"/>
                <a th:text="*{product.name}"></a><!-- th:href="@{*{product.url}}" -->
                <!-- /<a th:href="@{*{design.url}}" th:text="*{design.name}"></a> -->
<!-- /<a th:href="@{*{'measurements/'+ measurement.id}}" th:text="*{measurement.name}">   </a> -->             <br/>
               <blc:product_option_display orderItem="${item}" >
                     <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                         <li th:each="entry: ${productOptionDisplayValues}">
                           <span  th:text="${entry.key} + ': ' + ${entry.value}"></span>
                         </li>
                     </ul>
                </blc:product_option_display> 
                <ul th:if="${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}">
                    <li th:each="doi : *{discreteOrderItems}" th:text="${doi.quantity + ' x ' + doi.name}" />
                </ul>
            </td>
            <td>
            <img th:if="*{designs[0].media['primary']}" th:src="@{*{designs[0].media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{designs[0].name}" style="width: 80px; height: 80px;"/>
            <a th:text="*{designs[0].name}"></a><!-- th:href="@{*{designs[0].url}}"  -->
            </td>
            <td>
            <img th:if="*{designs[1].media['primary']}" th:src="@{*{designs[1].media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{designs[1].name}" style="width: 80px; height: 80px;"/>
            <a th:text="*{designs[1].name}"></a><!-- th:href="@{*{designs[1].url}}"  -->
            </td>
            <td>
            <img th:if="*{designs[2].media['primary']}" th:src="@{*{designs[2].media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{designs[2].name}" style="width: 80px; height: 80px;"/>
            <a th:text="*{designs[2].name}"></a><!-- th:href="@{*{designs[2].url}}"  -->
            </td>
            <td>
            <img th:if="*{tailor.media['primary']}" th:src="@{*{tailor.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{tailor.name}" style="width: 80px; height: 80px;"/>
            <a th:text="*{tailor.name}"></a><!-- th:href="@{*{tailor.url}}"  -->
            </td>
            <td>
            <a th:href="@{*{'measurements/'+ measurement.id}}" th:text="*{measurement.name}">   </a>
            </td>
            <td align="center">
                <blc:form method="POST" th:action="@{/cart/updateQuantity}">
                    <input type="hidden" name="productId" th:value="*{product.id}" />
                    <input type="hidden" name="orderItemId" th:value="*{id}" />
                    <input type="number" name="quantity" class="quantityInput" style="width:30px" th:value="*{quantity}" maxlength="3" autocomplete="off"/><br />
                    <input type="submit" class="updateQuantity" th:value="#{cart.update}"/>
                </blc:form>
                <a class="cartLinkBtn remove_from_cart" th:href="@{/cart/remove(orderItemId=*{id}, productId=*{product.id})}"><span th:text="#{cart.remove}">Remove</span></a>
            </td>
            <td align="center" blc:price="*{getPriceBeforeAdjustments(true)}"></td>
            
            <td align="center" th:if="*{adjustmentValue.zero}">---</td>
            <td align="center" class="discount" th:unless="*{adjustmentValue.zero}" >
            <span  blc:price="*{totalAdjustmentValue}" ></span>
                 <div class="productOptions" th:substituteby="catalog/partials/offers :: offers"/>
             </td>
            <td th:if="!${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}" align="center" class="value" th:text="*{totalPrice}"></td>
            <td th:if="${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}" align="center" class="value" th:text="*{totalPrice}"></td>
        </tr>
    </tbody>
</table>