<div class="progress" th:id="${status}">
			
			<div class="circle active" th:if="${status == 0}">
				<span class="label">1</span> 
				<a class="title">Choose_Material</a>
			</div>
			<div class="circle done" th:if="${status >= 1}" id="ch_material" th:name="${type == null || type == 'blouse'}? 'blouse': 'chud'">
				<span class="label">1</span> 
				<a class="title" href="#">Choose_Material</a>
			</div>
			
			<span class="bar"  th:if="${status == 0}"></span>
			<div class="circle dis"  th:if="${status == 0}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-fn-design': '/chud-design/chud-fn-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">2</span> 
				<a class="title">Choose_FrontNeck</a>
			</div>
			<span class="bar half"  th:if="${status == 1}"></span>
			<div class="circle active"  th:if="${status == 1}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-fn-design': '/chud-design/chud-fn-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">2</span> 
				<a class="title" >Choose_FrontNeck</a>
			</div>
			<span class="bar done"  th:if="${status >= 2}"></span>
			<div class="circle done"  th:if="${status >= 2}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-fn-design': '/chud-design/chud-fn-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">2</span> 
				<a class="title">Choose_FrontNeck</a>
			</div>
			
			
			<span class="bar" th:if="${1 >= status}"></span>
			<div class="circle dis"  th:if="${1 >= status}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-bn-design': '/chud-design/chud-bn-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">3</span> 
				<a class="title">Choose_BackNeck</a>
			</div>
			<span class="bar half" th:if="${status == 2}"></span>
			<div class="circle active"  th:if="${status == 2}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-bn-design': '/chud-design/chud-bn-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">3</span> 
				<a class="title">Choose_BackNeck</a>
			</div>
			<span class="bar done" th:if="${status >= 3}"></span>
			<div class="circle done"  th:if="${status >= 3}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-bn-design': '/chud-design/chud-bn-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">3</span> 
				<a class="title">Choose_BackNeck</a>
			</div>
			
			<span class="bar" th:if="${2 >= status}"></span>
			<div class="circle dis"  th:if="${2 >= status}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-sl-design': '/chud-design/chud-sl-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">4</span>
				<a class="title">Choose_Sleeve</a>
			</div>
			<span class="bar half" th:if="${status == 3}"></span>
			<div class="circle active"  th:if="${status == 3}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-sl-design': '/chud-design/chud-sl-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">4</span>
				<a  class="title" >Choose_Sleeve</a>
			</div>
			<span class="bar done" th:if="${status >= 4}"></span>
			<div class="circle done"  th:if="${status >= 4}" th:href="${type == null || type == 'blouse'}? '/bls-design/bls-sl-design': '/chud-design/chud-sl-design'" onclick="breadcumbClickEvent(this)">
				<span class="label">4</span>
				<a class="title" >Choose_Sleeve</a>
			</div>
			
			<span class="bar" th:if="${3 >= status}"></span>
			<div class="circle dis"  th:if="${3 >= status}" href="/bls-tailor"  onclick="breadcumbClickEvent(this)">
				<span class="label">5</span> 
				<a class="title" >Choose_Tailors</a>
			</div>
			<span class="bar half" th:if="${status == 4}"></span>
			<div class="circle active"  th:if="${status == 4}" href="/bls-tailor"  onclick="breadcumbClickEvent(this)">
				<span class="label">5</span> 
				<a class="title">Choose_Tailors</a>
			</div>
			<span class="bar done" th:if="${status >= 5}"></span>
			<div class="circle done" th:if="${status >= 5}" href="/bls-tailor"  onclick="breadcumbClickEvent(this)">
				<span class="label">5</span> 
				<a class="title">Choose_Tailors</a>
			</div>
			
			<span class="bar" th:if="${4 >= status}"></span>
			<div class="circle dis" th:if="${4 >= status}" href="/measurement"  onclick="breadcumbClickEvent(this)">
				<span class="label">6</span> 
				<a class="title" >Choose_Measurement</a>
			</div>
			<span class="bar half" th:if="${status == 5}"></span>
			<div class="circle active" th:if="${status == 5}" href="/measurement"  onclick="breadcumbClickEvent(this)">
				<span class="label">6</span> 
				<a class="title" >Choose_Measurement</a>
			</div>
			<span class="bar done" th:if="${status >= 6}"></span>
			<div class="circle done" th:if="${status >= 6}" href="/measurement"  onclick="breadcumbClickEvent(this)">
				<span class="label">6</span> 
				<a class="title" >Choose_Measurement</a>
			</div>
		</div>